
{% extends "huma.demo9.base.html.twig" %}

{% block title %} Creer un  Compte {% endblock %}

{% block body %}
  <div class="preloader">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>

    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">

          
            <!-- // END Page Header -->
             <!-- //   Page Content -->
            
				<div class="container-fluid page__container page__container page-section">
                 
                 {% block Content %}
                 <div class="page-separator__text">Creer un compte</div>
                  

                  {{ include('registration/_form.registration.html.twig') }}
                 </div>
                {% endblock %}
            <!-- // END content -->


         
            


        </div>
        <!-- // END drawer-layout__content -->

        
 


    {% block javascripts %}
	{{ parent() }}  
    {% endblock %}
 

 {% endblock %}

 


















 
