{% extends 'base.html.twig' %}

{% block title %}New Tutore{% endblock %}

{% block body %}
    <h1>Create new Tutore</h1>

    {{ include('tutore/_form.html.twig') }}

    <a href="{{ path('tutore_index') }}">back to list</a>
{% endblock %}
